* {
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

/* /////////////////////// */
/* //////ASIDE/////// */
/* /////////////////////// */
#aside {
    float: left;
    width: 25%;
    height: 100%;
    position: fixed;
    background-color: #ddd;
}

.inner {
    padding: 40px;
}

#aside_form input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

#aside_header h2 {
    border-bottom: 4px solid hotpink;
    width: 70px;
    padding: 10px;
}

#aside li {
    list-style: none;
    padding: 20px 0px;
}

#aside a {
    text-decoration: none;
    color: #000;
}

#aside_footer p {
    position: fixed;
    bottom: 10px;
    color: rgb(104, 104, 104);
}

/* /////////////////////// */
/* //////MAIN/////// */
/* /////////////////////// */

#main{
    float: right;
    width: 75%;
}

#main_header {
    width: 100%;
    min-height: 60px;
    border-bottom: 4px solid hotpink;
}

.brand {
    float: left;
}

.icons {
    float: right;
}

.icons li {
    display: inline;
    padding: 0px 20px;
}

.icons a {
    text-decoration: none;
    color: #000;
}

/* /////////////////////// */
/* //////BANNER/////// */
/* /////////////////////// */

#main_banner {
    width: 100%;
    height: 250px;
    padding: 20px 0px;
}

.main_banner_esquerda {
    float: left;
}

.main_banner_esquerda h1 {
    font-size: 30px;
    padding: 10px 0px;
}

.main_banner_esquerda p {
    margin: 20px 0px;
    padding: 10px 0px;
}

button {
    background-color: #fff;
    border: 2px solid hotpink;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}


.main_banner_direita {
    float: right;
}

.main_banner_direita img {
    height: 250px;
    border-radius: 10px;
}

/* /////////////////////// */
/* //////MAIN_CURSOS/////// */
/* /////////////////////// */
#main_cursos h2 {
    border-bottom: 4px solid hotpink;
    width: 350px;
    padding: 5px 0px;
}

#main_cursos h3 {
    padding: 10px;
}

#main_cursos p {
    padding: 10px;
    color: rgb(116, 115, 115);
}

.box {
    width: 45%;
    float: left;
    padding: 20px 0px;
}

article span {
    float: left;
    border: 2px solid gray;
    padding: 30px;
    margin: 70px 20px;
    color: hotpink;
    transform: rotate(45deg)
}